%html{lang: "en"}
  %head
    %meta{:charset => "utf-8"}/
    %meta{content: "IE=edge", "http-equiv" => "X-UA-Compatible"}/
    %meta{content: "width=device-width, initial-scale=1", name: "viewport"}/

    %title phyto, the environmentally friendly news aggregator

    %link{:href => "https://cdn.rawgit.com/twbs/bootstrap/v4-dev/dist/css/bootstrap.css", :rel => :stylesheet}

  %body
    %nav{:class => "navbar navbar-fixed-top navbar-dark bg-inverse"}
      %a{:class => "navbar-brand", :href => "/"} Phyto
      %a{:href => "#", :class => "pull-left"}
        / TODO PUT THE LOGO IMAGE IN HERE!!!
        / %img{src="LOGO_PATH"}
    %div{:class => "container", :style => "margin-top: 60px;"}
      %h1
        %a{:href => link}= get_title(link)
        %small{:class => "text-right"}= "// " + URI.parse(link).host
      %div{:class => "card"}
        %div{:class => "card-header"}
          %strong Summary
        %div{:class => "card-block"}= get_summary(link)
      %div{:class => "card-columns"}
        %div{:class => "card card-wikipedia"}
          %div{:class => "card-header"}
            %strong Wikipedia articles
          %div{:class => "card-block"}
            - wikipedia.each do |wikipedia_link|
              %p{:class => "card-text"}
                %a{:href => wikipedia_link[:link]}= wikipedia_link[:text]
        %div{:class => "card card-twitter"}
          %div{:class => "card-header"}
            %strong Twitter
          %div{:class => "card-block"}
            - get_hashtags(link).each do |hashtag|
              %p{:class => "card-text"}
                %a{:href => "https://twitter.com/search?q=%23#{hashtag[1..-1]}"}= hashtag
        %div{:class => "card card-people"}
          %div{:class => "card-header"}
            %strong People
          %div{:class => "card-block"}
            - get_people_better(text).each do |person|
              %p{:class => "card-text"}= person
        - if !get_places_better(text).nil?
          %div{:class => "card card-places"}
            %div{:class => "card-header"}
              %strong places
            %div{:class => "card-block"}
              - get_places_better(text).each do |places|
                %p{:class => "card-text"}= places
    %script{:src => "https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"}
    %script{:src => "https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/js/bootstrap.min.js", :integrity => "sha384-vZ2WRJMwsjRMW/8U7i6PWi6AlO1L79snBrmgiDpgIWJ82z8eA5lenwvxbMV1PAh7"}
